@using ASM_CS4.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Login</h2>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserIdentifier" class="form-label">Email hoặc Username</label>
                <input asp-for="UserIdentifier" class="form-control" />
                <span asp-validation-for="UserIdentifier" class="text-danger"></span>
            </div>



            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" id="passwordInput" type="password" />
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="float-end">
                <a asp-controller="Account" asp-action="ForgotPassword" class="text-decoration-none">
                    Forgot password?
                </a>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a=> a.RememberMe)
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@* @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
} *@

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("passwordInput");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);

            // Đổi icon khi nhấn vào
            this.querySelector("i").classList.toggle("fa-eye");
            this.querySelector("i").classList.toggle("fa-eye-slash");
        });
    });
</script>


