@model ASM_CS4.Models.UserAdmin

@{
    ViewData["Title"] = "Xóa Tài Khoản Admin";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div style="width:1200px" class="card card-danger card-outline">
    <div class="card-header">
        <h3 class="card-title">Xóa Admin</h3> <!-- Tiêu đề trang -->
    </div>
    <div class="card-body">
        <h4>Bạn có chắc chắn muốn xóa tài khoản admin này không?</h4>
        <div>
            <h4>@Model.Email</h4>
            <p>Mã Admin: @Model.Email</p>
        </div>
        <form asp-action="DeleteConfirmed" method="post" asp-route-maAdmin="@Model.MaAdmin">
            <input type="hidden" name="maAdmin" value="@Model.MaAdmin" />
            <div>
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>