@model ASM_CS4.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/LayoutUser/css/reset.css">
    <link rel="stylesheet" href="~/LayoutUser/css/app.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Login | Fast Food</title>
</head>

<body>
    <div id="wrapper">
        <form id="form-login" asp-controller="Customer" asp-action="Login" method="post">
            <h1 class="form-heading">Đăng nhập</h1>

            <!-- Hiển thị thông báo lỗi nếu có -->
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message" style="color: red; font-weight: bold;">
                    @ViewBag.ErrorMessage
                </div>
            }

            <!-- Hiển thị tổng hợp lỗi -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" class="form-input" asp-for="Email" placeholder="Tên đăng nhập">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" asp-for="MatKhau" class="form-input" placeholder="Mật khẩu">
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>

            <button type="submit" class="form-submit">Đăng nhập</button>
            <button type="button" class="form-submit">
                <a asp-controller="Customer" asp-action="Register" style="text-decoration: none; color: white;">Đăng ký</a>
            </button>
        </form>
    </div>

</body>
</html>
